*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 1.5rem;
  color: rgb(48, 48, 48);
}
.container{
  width: 100%;
  background: #ececec;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  border-radius: 15px;
  height: 85vh;
  background: #ffffff;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;   
  justify-content: flex-start;
  width: 100%;
  max-width: 450px;
  text-align: left; 
  padding: 70px;
  gap: 10px;
}

.task-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  padding: 7px 15px;
  border-radius: 12px;
  border: solid 1px rgb(133, 132, 132);
  font-size: 0.85rem;
  font-weight: 600;
  color: #3a3a3a;
}
.left-side{
  display: flex;
  gap: 8px;
}
.input-and-btn{
  width: 100%;
  display: flex;
  gap: 9px;
}
.add-task{
  width: 89%;
  border: none;
  padding: 5px;
  padding-left: 7px;
  border-bottom: solid 2px rgb(172, 170, 170);
  font-size: small;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(48, 48, 48);
}
.add-task::placeholder{
   color: rgb(78, 78, 78);
   font-weight: 400;

}
.add-task:focus{
  
  outline: none;
}
.add-btn{
  width: 8%;
  padding: 4px;
  background-color: rgb(20, 20, 20);
  color: #ececec;
  border-radius: 9px;
  border: none;
}
.cross-btn{
  border: none;
  background: transparent;
}
.footer{
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 400;
  color: #868686;
}
.tasks-counting{
  font-weight: 600;
  color: rgb(48, 48, 48);
}
input[type="checkbox"] {
  accent-color: rgb(48, 48, 48);
}
#checkbox{
  cursor: pointer;
}
